{%  extends '::base.html.twig' %}
{% block body %}
<section id="single_news" class="container secondary-page">
    <div class="general general-results">
        <div class="top-score-title col-md-9">
            <h3>{{ actualite.titre }}<span class="point-little">.</span></h3>
            <center></center>
            {% set parags =  actualite.description|split('.')  %}
            {%   for para in parags %}
                <p class="desc_news">{{ para }}</p>
            {% endfor %}


            {% if actualite.auteur is not defined   %}
            <p class="desc_news important_news data">{{ entityUser(actualite.auteur).username }} <i class="fa fa-calendar"></i>{{ actualite.date|date('d/m/y') }}</p>
            {% endif %}
                {% set tags =  actualite.tags|split(' ')  %}

            <div class="tab_news"><i class="fa fa-tag"></i><span>TAGS:</span>

                {%   for tag in tags %}
                    <a href="#" class="tag">{{ tag }}</a>
                {% endfor %}



            </div>
            <div class="tab_news">
            {{ socialButtons() }}
            </div>




        </div><!--Close Top Match-->


{% include '@FttGestionActualite/FrontOffice/lastnews.html.twig' %}
    </div></section>


    {% include "@FttFrontOffice/Front/sponsor.html.twig" %}
{%  endblock  %}