<section class="drawer">
    <div class="col-md-12 size-img back-img" style="background:transparent url({{ asset('images/register.jpg') }}) no-repeat top center;">
        <div class="effect-cover">
            <h3 class="txt-advert animated">Fédération Tunisienne de Tennis</h3>
            <p class="txt-advert-sub animated">Inscrivez vous pour faire des paris , acheter des billets ..</p>
        </div>
    </div>

    <section id="login" class="container secondary-page">
        <div class="general general-results players">

            <!-- REGISTER BOX -->
            <div class="top-score-title right-score col-md-12">
                <h3>Inscrivez vous <span>Maintenant</span><span class="point-int"> !</span></h3>
                <div class="col-md-12 login-page">



                    <form  action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="register-form">


                        <div class="name">
                            <label for="lastname">* Nom:</label><div class="clear"></div>
                            {{ form_widget(form.nom, { 'attr': {'class': '', 'id': 'name'} }) }}
                            {{ form_errors(form.nom)}}
                        </div>

                        <div class="name">
                            <label for="lastname">* Prénom:</label><div class="clear"></div>
                            {{ form_widget(form.prenom, { 'attr': {'class': '', 'id': 'lastname'} }) }}
                            {{ form_errors(form.prenom) }}
                            <span class="color-red"></span>
                        </div>

                        <div class="name">
                            <label for="name">* Nom Utiisateur:</label><div class="clear"></div>
                            {{ form_widget(form.username, { 'attr': {'class': '', 'id': 'name'} }) }}
                            {{ form_errors(form.username) }}
                        </div>


                        <div class="name">
                            <label for="email">* Email:</label><div class="clear"></div>
                            {{ form_widget(form.email, { 'attr': {'class': 'email-register', 'id': 'confirm'} }) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="name">
                            <label for="password">* Password:</label><div class="clear"></div>
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': '', 'id': 'password'} }) }}
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                        <div class="confirm_password">
                            <label for="confirm_password">* Confirmation  Password:</label><div class="clear"></div>
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': '', 'id': 'confirm_password'} }) }}
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                        <div id="register-submit">
                            <input type="submit" value="Enregistrer"/>
                        </div>
                        {{form_rest(form)}}
                    </form>
                    <div class="ctn-img">
                        <img src="{{ asset('images/federer.png') }}" />
                    </div><!--Close Images-->
                    <div class="clear"></div>
                </div>

            </div><!--Close REgistration-->
        </div>
    </section>

</section>
