
{% extends "FttBackofficeBundle::accueil_admin.html.twig" %}
{% block content %}
     <center> <h1>Paris</h1> </center>
<div class="panel panel-default">

    <table class="table">
        <tbody>
            <tr>
                <th class="success">Id</th>
                <td class="success">{{ entity.id }}</td>
            </tr>
          
            <tr>
                <th class="success">Cote1</th>
                <td class="success">{{ entity.cote1 }}</td>
            </tr>
            <tr>
                <th class="success">Cote2</th>
                <td class="success">{{ entity.cote2 }}</td>
            </tr>
            <tr>
                <th class="success">matchs</th>
                <td class="success">{{ entity.matchs }}</td>
            </tr>
            <tr>
                <th class="success">Date</th>
                <td class="success">{{ entity.date|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>
</div>
  
        <a href="{{ path('paris_affich') }}" class="btn btn-primary" role="button">
            <center>  Retour</center>
        </a>
 
   
  

{% endblock %}
