
<h3 style="text-align: center;"><img alt="" src="{{ logo }}" style="float:left; height:100px; margin-right:10px; width:100px" /></h3>

<h1 style="text-align: center;"><span style="font-family:courier new,courier,monospace">Fédération Tunisienne de Tennis</span></h1>

<p style="text-align: center;"><span style="font-family:courier new,courier,monospace">Departement des formations{{ current_date|date('Y-m-d') }}</span></p>

<hr />
<p></p>
Nous avons confirmé votre participation à la formation sous le nom de {{nom}}</p>
<p> description: {{description}} </p>
<p>date d'ouverture : {{dateov|date('Y-m-d H:i:s') }} </p>
<p>Date de cloture : {{dateclot|date('Y-m-d H:i:s') }}</p>

<p>Lieux : {{lieux}}</p>
<p></p>
<p></p>
<p></p>
<p>Cordialement, </p>
<p>Responsable des formations FTT </p>

