{% trans_default_domain 'FOSUserBundle' %}


<section class="drawer">
    <div class="col-md-12 size-img back-img" style="background:transparent url({{ asset('images/register.jpg') }}) no-repeat top center;">
        <div class="effect-cover">
            <h3 class="txt-advert animated">Fédération Tunisienne de Tennis</h3>
            <p class="txt-advert-sub animated">Inscrivez vous pour faire des paris , acheter des billets ..</p>
        </div>
    </div>

    <section id="login" class="container secondary-page">
        <div class="general general-results players">

            <!-- REGISTER BOX -->
            <div class="top-score-title right-score col-md-12">
                <h3>Changez votre mot de passe : <span></span><span class="point-int"> !</span></h3>
                <div class="col-md-12 login-page">

                    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'register-form' } }) }}


                    <div class="name">
                        <label for="password">* Nouveau mot de passe:</label><div class="clear"></div>
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': '', 'id': 'password'} }) }}
                        <span class="color-red"></span>
                    </div>
                    <div class="confirm_password">
                        <label for="confirm_password">* Confirmation Nouveau mot de passe:</label><div class="clear"></div>
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': '', 'id': 'confirm_password'} }) }}
                    </div>
                    <div id="register-submit">
                        <input type="submit" value="Enregistrer"/>
                    </div>
                    {{form_rest(form)}}
                    {{ form_end(form) }}


                    <div class="ctn-img">
                        <img src="{{ asset('images/federer.png') }}" />
                    </div><!--Close Images-->
                    <div class="clear"></div>
                </div>



            </div><!--Close reset password-->
        </div>
    </section>

</section>








