{% extends '::base.html.twig' %}

{% block body %}
<section class="drawer">
    <div class="col-md-12 size-img back-img" style="background:transparent url({{ asset('images/register.jpg') }}) no-repeat top center;">
        <div class="effect-cover">
            <h3 class="txt-advert animated">Fédération Tunisienne de Tennis</h3>
            <p class="txt-advert-sub animated">Merci de remplir ce Formulaire ..</p>
        </div>
    </div>

    <section id="login" class="container secondary-page">
        <div class="general general-results players">

            <!-- REGISTER BOX -->
            <div class="top-score-title right-score col-md-12">
                <h3>Resultat Medical <span>de joueur</span><span class="point-int"> !</span></h3>
                <div class="col-md-12 login-page">


                    {{ form_start(form) }}
                        <div class="name">
                            <label for="lastname">* Numero Echantillon:</label><div class="clear"></div>
                            {{ form_widget(form.numeroEchantillon, { 'attr': {'class': 'resultatMedical', 'id': 'name'} }) }}
                            {{ form_errors(form.numeroEchantillon)}}
                        </div>

                        <div class="name">
                            <label for="lastname">* Date Prélevement:</label><div class="clear"></div>
                            {{ form_widget(form.datePrelevement, { 'attr': {'class': 'resultatMedical', 'id': 'lastname'} }) }}
                            {{ form_errors(form.datePrelevement) }}
                            <span class="color-red"></span>
                        </div>

                    <div class="name">
                        <label for="lastname">* Joueur:</label><div class="clear"></div>
                        {{ form_widget(form.joueur, { 'attr': {'class': 'resultatMedical', 'id': 'lastname'} }) }}
                        {{ form_errors(form.joueur) }}
                        <span class="color-red"></span>
                    </div>


                    <div class="name">
                        <label for="lastname">* Resultat de test:</label><div class="clear"></div>
                        {{ form_widget(form.ResultatTest, { 'attr': {'class': 'txt-area', 'id': 'message'} }) }}
                        {{ form_errors(form.ResultatTest) }}
                        <span class="color-red"></span>
                    </div>

                        {{form_rest(form)}}
                    </form>

                    <div class="clear"></div>
                </div>

            </div><!--Close REgistration-->
        </div>
    </section>

</section>
    {% endblock body %}