{% extends 'FttBackofficeBundle::accueil_admin.html.twig' %}
{% block breadcrumb %}
    {{ parent() }}

    <li class="active">Liste des actualites</li>
{% endblock %}



{% block content %}
    <div class="box box-success">

        <div class="box-header with-border">
            <h3 class="box-title">Liste des Actualités</h3>
            <center>
                <a class="fa fa-user btn-lg btn-info" href="{{ path('ftt_gestion_actualite_admin_ajouter') }}">
                    Ajouter Actualité
                </a>
            <center>
        </div><!-- /.box-header -->


        <div class="row">
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                       aria-describedby="example1_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            style="width: 165px;">Id
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            style="width: 210px;">Titre
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            style="width: 192px;">Categorie
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            style="width: 192px;">tags
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            style="width: 142px;">Date ajout
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            style="width: 142px;">Voir
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            style="width: 142px;">Modifier
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                            style="width: 142px;">Supprimer
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% set num = 1 %}
                    {% for i in actualites %}

                        {% if num is divisible by(2) %}
                            <tr role="row" class="odd">
                        {% else %}
                            <tr role="row" class="even">
                        {% endif %}
                        <td class="sorting_1">{{ num }}</td>
                        <td> {{ i.titre }}</td>
                        <td>{{ i.categorie }}</td>
                        <td>{{ i.tags }}</td>
                        <td>{{ i.date|date('Y-m-d') }}</td>

                        <td><a href="{{ path('ftt_gestion_actualite_admin_show', { 'id': i.id }) }}">Voir</a></td>
                        <td><a href="{{ path('ftt_gestion_actualite_admin_update', { 'id': i.id }) }}">Modifier</a></td>
                        <td><a href="{{ path('ftt_gestion_actualite_admin_delete', { 'id': i.id }) }}" onclick="return confirm('Confirmer la suppression?')">Supprimer</a></td>

                        </tr>
                        {% set num = num + 1 %}
                    {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
    </div>
{% endblock %}


