{% extends 'FttBackofficeBundle::accueil_admin.html.twig' %}

{% block content %}


    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Details de l'actualité</h3>
        </div>

        <!-- form start -->


        <div class=" box-profile">

            <div class="col-sm-12">
                {% if actualite.path is not empty %}
                    <center><img class="img-responsive " src="{{ asset(actualite.getWebPath()) }}" alt="Photo"></center>
                <hr>
                {% else %}
                    <center><img class="img-responsive " src="{{ asset('uploads/actualites/actualites.jpg') }}" alt="Photo">

                {% endif %}
    </div>

            <h3 class="profile-username text-center">{{ actualite.titre }}</h3>
            <p class="text-muted text-center">{{ actualite.categorie }}</p>
        </div>
        <hr>

        <div class="box-body">

            <div class="form-group">
                <dt> Titre : </dt>{{ actualite.titre }}
            </div>
            <hr>

            <div class="form-group">
                <dt> Catégorie : </dt>{{ actualite.categorie }}
            </div>
            <hr>
            <div class="form-group">
                <dt> date : </dt>{{ actualite.date|date("m/d/Y")  }}
            </div>
            <hr>
            <div class="form-group">
                <dt> Description : </dt>{{ actualite.description }}
            </div>
            <hr>


            <div class="form-group">
                <dt> auteur : </dt>{{ actualite.auteur }}
            </div>
            <hr>
            <div class="form-group">
                <dt> Tags : </dt>
                {% for tag in tags %}
                <span class="label label-primary">{{ tag }}</span>
                {% endfor %}
            </div>
            <hr>

        </div><!-- /.box-body -->

        <div class="box-footer">
            <a class="btn btn-primary btn-block" href="{{ path('ftt_gestion_actualite_admin_list') }}">Retourner</a>
            <a class="btn btn-primary btn-block" href="{{ path('ftt_gestion_actualite_admin_update', { 'id': actualite.id }) }}">Modifier</a>

        </div><!-- /.box-footer -->
    </div>


{% endblock %}

