

    <h3 style="text-align: center;"><img alt="" src="{{ logo }}" style="float:left; height:100px; margin-right:10px; width:100px" /></h3>

<h1 style="text-align: center;"><span style="font-family:courier new,courier,monospace">F&eacute;d&eacute;ration Tunisienne de Tennis</span></h1>

<p style="text-align: center;"><span style="font-family:courier new,courier,monospace">Inscription dans notre site FTT le {{ current_date|date('Y-m-d') }}</span></p>

<hr />
<p>&nbsp;</p>
<br>




    Bienvenue {{ entity.nom }} sur Votre Site Fédération Tunisienne de Tennis,
    Vous étes inscrit en tant que {{ entity.typeUser }}
    Vos coordonées sont :
    Nom:    {{ entity.nom }}
    Prenom : {{ entity.prenom }}
    Tel : {{ entity.tel }}
    Cin : {{ entity.cin }}
    Username : {{ entity.username }}
    Email : {{ entity.email }}

    Merci de nous contacter pour avoir votre nouveau mot de passe.





    ---------------
    Ceci est un mail automatique, Merci de ne pas y répondre.
