{% extends 'FttBackofficeBundle::accueil_admin.html.twig' %}
{% block breadcrumb %}
    {{ parent() }}

    <li class="active">Liste de Newsletter</li>
{% endblock %}



{% block content %}
<div class="box box-success">

    <div class="box-header with-border">
        <h3 class="box-title">Liste des inscrits au Newsletter</h3>
    </div><!-- /.box-header -->


    <div class="row">
        <div class="col-sm-12">
            <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                   aria-describedby="example1_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        style="width: 165px;">Id
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                         style="width: 210px;">Nom
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                         style="width: 192px;">Mail(s)
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                       style="width: 142px;">Date inscription
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                        style="width: 142px;">Supprimer
                    </th>
                </tr>
                </thead>
                <tbody>

                {% set num = 1 %}
                {% for i in modeles %}

                    {% if num is divisible by(2) %}
                        <tr role="row" class="odd">
                    {% else %}
                        <tr role="row" class="even">
                    {% endif %}
                    <td class="sorting_1">{{ num }}</td>
                    <td> {{ i.nom }}</td>
                    <td>{{ i.mail }}</td>
                    <td>{{ i.date|date('Y-m-d') }}</td>
                    <td><a href="{{ path('ftt_backoffice_newsletter_delete_mail', { 'id': i.id }) }}" onclick="return confirm('Confirmer la suppression?')">Supprimer</a></td>
                    </tr>
                    {% set num = num + 1 %}
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <th rowspan="1" colspan="1">Id</th>
                    <th rowspan="1" colspan="1">Nom</th>
                    <th rowspan="1" colspan="1">Mail(s)</th>
                    <th rowspan="1" colspan="1">Date inscription </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}


