<section id="sponsor" class="container">
    <!--SECTION SPONSOR-->
    <div class="client-sport client-sport-nomargin">
        <div class="content-banner">
            <ul class="sponsor second">
                <li><img src="{{ asset('images/sponsor_ftt/cc_2016.png') }}" alt="" /></li>
                <li><img src="{{ asset('images/sponsor_ftt/Logo_Lilas_2016.png') }}" alt="" /></li>
                <li><img src="{{ asset('images/sponsor_ftt/large_2-1247740584-nivea-logo_full.jpg') }}" alt="" /></li>
                <li><img src="{{ asset('images/sponsor_ftt/Renault_logo_2.png') }}" alt="" /></li>
                <li><img src="{{ asset('images/sponsor_ftt/Tunisair_logo.png') }}" alt="" /></li>
            </ul>
        </div>
    </div>
</section>